{% block content %}
<h1>Agregar Platos</h1>
<link rel="stylesheet" href="static/css/eliminarpla.css">
<a href="http://127.0.0.1:5500/dashboart">Volver</a>
<hr>
<h2>Eliminar Plato</h2>
<form action='/Eliminapla'>
    <p>Nombre Plato a Eliminar<br>
        <input type="text" name="Nombre"> 
    </p>
    <p>
        <input type="submit" value="Eliminar">
    </p>
</form>

<form>
    <h2>Platos Existentes en el Menu</h2>
    <table id="tabel" border="1" align="center"> 
        <tbody>
          <tr style="text-align:right"> 
            <th>Nombre</th> 
            <th>Precio</th> 
            <th>Descripcion</th> 
            <th>Cantidad</th> 
        </tr> 
        {%for i in plato%}
        <tr>
            <td>{{i[0]}}</td> 
            <td>{{i[1]}}</td> 
            <td>{{i[2]}}</td>  
            <td>{{i[3]}}</td>
        </tr>
       {%endfor%}
        </tbody>
    </table>
</form>
{% endblock %}