<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Connection with CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/a.a.inicio.css" />
    <link rel="stylesheet" href="../static/css/a.styleindex.css" media="screen">
    <link rel="stylesheet" href="../static/css/a.Page-1.css" media="screen">


    

    <title>Inicio - Panda Express </title>
</head>
<body class="u-body"><header class="u-clearfix u-grey-90 u-header u-header" id="sec-0a6d"><div class="u-clearfix u-sheet u-sheet-1">
    <a  class="u-image u-logo u-image-1" data-image-width="522" data-image-height="418">
      <img src="../static/images/logo2.png" class="u-logo-image u-logo-image-1">
    </a>
    <a href="/login" class="u-border-hover-black u-border-none u-border-white u-btn u-button-style u-custom-font u-font-arial u-none u-text-hover-white u-text-white u-btn-1">INICIO</a>
    <a href="/qs" class="u-border-none u-btn u-button-style u-custom-font u-font-arial u-none u-text-hover-white u-text-white u-btn-2">QUIENES SOMOS</a>
    <a target="_blank" href="/" class="u-border-none u-btn u-button-style u-none u-text-hover-white u-text-white u-btn-3">MENU</a>
    <a href="./login.html">
      <img src="../static/images/user.png" class="user" width="30" alt="50">
    </a>
    <form action="#" method="get" class="u-border-3 u-border-white u-search u-search-left u-search-1">
      <button class="u-search-button" type="submit">
        <span class="u-icon-circle u-search-icon u-search-icon-1">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966"><use xlink:href="#svg-1ed8"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 56.966 56.966" x="0px" y="0px" id="svg-1ed8" style="enable-background:new 0 0 56.966 56.966;"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg>
        </span>
      </button>
      <input class="u-custom-font u-font-arial u-search-input" type="search" name="search" value="" placeholder="Search">
    </form>
  </div></header>
<section class="u-align-right u-clearfix u-image u-section-1" id="carousel_4539">
  <div class="u-align-left u-clearfix u-sheet u-sheet-1">
    <h1 class="u-text u-text-white u-text-1">
      <span style="font-size: 3rem;">Bienvenidos a Panda Express</span>
      <br>
      <br>En nuestro restaurante encontraras la mejor variedad en comida asiatica. Nuestro menu es variado y cada dia nos estamos actualizando. Navega por nuestra web y realiza tu pedido.
    </h1>
  </div>
</section>

<div id="container_two">
    <h3 class="menu">Platos destacados</h3>
    <h2>Los populares<br> de la semana</h2>
    <img src="../static/images/platosasiaticos.jpg" class="banner" width="" alt="">

    <div class="new-cars">

      <div class="news_one">
        <img src="../static/images/5.PAITHAI.png">
        <h4>Pad Thai</h4>
        <p>$ 22.000</p>
      </div>

      <div class="news_two">
        <img src="../static/images/6.RAMEN.jpg">
        <h4>Ramen</h4>
        <p>$ 18.500</p>
      </div>

      <div class="news_three">
        <img src="../static/images/7.ROTICANAI.jpg">
        <h4>Roti canai</h4>
        <p>$ 19.000</p>
      </div>
      
      <div class="news_four">
        <img src="../static/images/9.bibimpan.jpg">
        <h4>Bibimbap</h4>
        <p>$ 24.000</p>
      </div>

      <div class="news_five">
        <img src="../static/images/11.curry1.jpg">
        <h4>Pollo al Curry</h4>
        <p>$ 22.000</p>
      </div>

      <div class="news_six">
        <img src="../static/images/12.arrozfrito.jpg">
        <h4>Arroz Frito</h4>
        <p>$ 23.500</p>
      </div>

      <div class="news_seven">
        <img src="../static/images/14.POLLOTANDAORI.jpg">
        <h4>Pollo Tandoori</h4>
        <p>$ 26.000</p>
      </div>

      <div class="news_eight">
        <img src="../static/images/16.LASKA.jpg">
        <h4>Laksa</h4>
        <p>$ 23.000</p>
      </div>

      <div class="news_nine">
        <img src="../static/images/15.char.jpg">
        <h4>Char kway teow</h4>
        <p>$ 22.500</p>
      </div>

      <div class="news_ten">
        <img src="../static/images/15.cerdoagridulce2.jpg">
        <h4>Cerdo Agridulce</h4>
        <p>$ 18.000</p>
      </div>




    </div>
    
    
    
   <!-- <iframe class="song1" width="300" height="200" src="https://www.youtube.com/embed/xFfkITnyzp0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="song2" width="300" height="200" src="https://www.youtube.com/embed/0TFNGRYMz1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="song3" width="300" height="200" src="https://www.youtube.com/embed/jgm3VT5P6ow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="song4" width="300" height="200" src="https://www.youtube.com/embed/5NV6Rdv1a3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="song5" width="300" height="200" src="https://www.youtube.com/embed/WphQffikt-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="song6" width="300" height="200" src="https://www.youtube.com/embed/Y_hdQXQfsNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="song7" width="300" height="200" src="https://www.youtube.com/embed/UTORd2Y_X6U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="song8" width="300" height="200" src="https://www.youtube.com/embed/XfzwFx3DMPk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="song9" width="300" height="200" src="https://www.youtube.com/embed/FqB4vZupsPQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="song10" width="300" height="200" src="https://www.youtube.com/embed/3bHxD6hWUiM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->
</div>



<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-09e2"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">Todos los derechos reservados Panda Express Alimentos Asiáticos</p>
  </div></footer>
<section class="u-backlink u-clearfix u-grey-80">
  <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
    <span>Website Templates</span>
  </a>
  <p class="u-text">
    <span>created with</span>
  </p>
  <a class="u-link" href="https://nicepage.com/" target="_blank">
    <span>Website Builder Software</span>
  </a>. 
</section>
</body>
</html>