<!DOCTYPE html>
<html>
    <head>
        <title>login/registro</title>
    </head>
    <body>
        <div class="u-form u-login-control u-form-1">
            <form action="/autenticar/" method="POST" class="u-clearfix u-form-custom-backend u-form-spacing-35 u-form-vertical u-inner-form" source="custom" name="form-2" style="padding: 10px;">
                <div class="u-form-group u-form-name">
                    <label for="username-708d" class="u-form-control-hidden u-label"></label>
                    <input type="email" placeholder="Nombre de usuario" id="username-708d" name="username" class="u-border-2 u-border-palette-1-base u-input u-input-rectangle u-white" required="">
                </div>
                <div class="u-form-group u-form-password">
                    <label for="password-708d" class="u-form-control-hidden u-label"></label>
                    <input type="password" placeholder="Password" id="password-708d" name="password" class="u-border-2 u-border-palette-1-base u-input u-input-rectangle u-white" required="">
                </div>
                <div class="u-form-checkbox u-form-group">
                    <input type="checkbox" id="checkbox-708d" name="remember" value="On">
                    <label for="checkbox-708d" class="u-label">recordar usuario<br>
                    </label>
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                    <a href="/autenticar/" class="u-border-none u-btn u-btn-submit u-button-style u-custom-color-3 u-hover-palette-1-dark-1 u-btn-1"></a>
                    <input type="submit" value="login" class="u-form-control-hidden">
                </div>
                <input type="hidden" id="siteId" name="siteId" value="827239">
                <input type="hidden" id="pageId" name="pageId" value="827240">
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
        <a href="/newregister/">registrarse</a>
    </body>
</html>