h1 {
    color: #377ba8;
    text-align: center;
}
h2 {
    color: rgb(58, 57, 57);
    text-align: center;
}
form {
    width: 350px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
  }