<!DOCTYPE html>
<html>
    <head>
        <title>Eliminar Usuarios</title>
    </head>
    <body >

    <table class="tabel table-striped table-bordered bg-white table-sm">
        <tbody>
            <tr style="text-align:right">
                <th>Id</th>
                <th>Username</th>
                <th>nombre</th>
                <th>apellidos</th>
                
            </tr>
            {%for elemento in lista %}
            <tr>
                <td>{{elemento[0]}}</td>
                <td>{{elemento[1]}}</td>
                <td>{{elemento[2]}}</td>
                
            </tr>
            {%endfor%}
        </tbody>
    </table>
</form>

      
        <form action="/eliminarUsuario/" method="POST" >
            {%for elemento in lista %}
                <ul>
                    <li>{{elemento}}</li>
                </ul>
            {%endfor%}
            <h3>Escriba el username a eliminar</h3><input type="text" name="eliminar">
            <a href="/eliminarUsuario/">
            <input type="submit" value="eliminar>"</a>
            <a href="http://127.0.0.1:5500/dashboart" >
        <input type="submit" value="volver>"</a>
        </form>
        <a href="{{url_for('dashboartadm')}}" >Eliminar</a>
        
    </body>
</html>