{%extends 'layout.html'%}
{% block body %}

<link rel="stylesheet" href="static/css/dashboart.css">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboart.css') }}" />
</head>

<body>
    <header>
        <nav class="nav">
            <ul>
                <div class="logo">
                    <li><img src="../static/images/logo2.png" class="logo" width="140" alt="80"></li>
                </div>
                <div class="op">
                    <li><a href="/ConsuPla"
                            class="u-border-none u-btn u-button-style u-custom-font u-font-arial u-none u-text-hover-white u-text-white u-btn-2"><span></span>Consultar
                            Platos
                        </a></li>
                    <li><a href="/Agregapla"
                            class="u-border-none u-btn u-button-style u-custom-font u-font-arial u-none u-text-hover-white u-text-white u-btn-2"><span></span>Agregar
                            Platos
                        </a></li>
                    <li><a href="/Eliminapla"
                            class="u-border-none u-btn u-button-style u-custom-font u-font-arial u-none u-text-hover-white u-text-white u-btn-2"><span></span>Eliminar
                            Platos
                        </a></li>
                    <li><a href="/gestionUsuario/"
                            class="u-border-none u-btn u-button-style u-custom-font u-font-arial u-none u-text-hover-white u-text-white u-btn-2"><span></span>
                            Gestionar Usuarios</a></li>
                    <li><a href="/logout"
                            class="u-border-none u-btn u-button-style u-custom-font u-font-arial u-none u-text-hover-white u-text-white u-btn-2"><span></span>Cerrar
                            Sesion</a></li>


                    <li><a href=""><img src="../static/images/user.png" class="user" width="30" alt="50"></a></li>
                </div>
            </ul>
        </nav>
    </header>
    <section class="form">

        <head>

            <script language="javascript">
                element = document.getElementByType("text")
                function desbloqueo() {
                    document.getElementById("nombre").disabled = false;
                    document.getElementById("apellidos").disabled = false;
                    document.getElementById("email").disabled = false;
                    document.getElementById("id").disabled = false;
                    document.getElementById("username").disabled = false;
                    document.getElementById("direccion").disabled = false;
                    document.getElementById("contrasena").disabled = false;
                    document.getElementById("celular").disabled = false;
                    document.getElementById("rol").disabled = false;
                    document.getElementById("update").disabled = true;
                    document.getElementById("actualizar").disabled = false;
                    document.getElementById("eliminar").disabled = false;

                }
                function desbloqueo1() {
                    document.getElementById("nombre").disabled = false;
                    document.getElementById("apellidos").disabled = false;
                    document.getElementById("email").disabled = false;
                    document.getElementById("id").disabled = true;
                    document.getElementById("username").disabled = false;
                    document.getElementById("direccion").disabled = false;
                    document.getElementById("contrasena").disabled = false;
                    document.getElementById("celular").disabled = false;
                    document.getElementById("rol").disabled = false;
                    document.getElementById("update").disabled = true;
                    document.getElementById("actualizar").disabled = true;
                    document.getElementById("eliminar").disabled = true;

                }

            </script>

        </head>


        <h1>ADMINISTRACION DE USUARIOS </h1>
        <h1>{{nameuser}}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Ingresa un usuario valido</a>.
        </div>
        {% endif %}
        {% endwith %}

        <form action="/buscaUsuario/" method="post">

            <div class="row d-flex justify-content-center">
            <p>Buscar un Usuario<br>
                <input type="search" placeholder="Buscar" size="50" name="nombreU">
            </p>

            <p>
                <br>
                <input class="btn btn-warning" type="submit" value="Buscar">
            </p>
        </div>
        </form>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="row d-flex justify-content-center">
                            <table class="tabel table-striped table-bordered bg-white table-sm">
                                <tbody>
                                    <tr style="text-align:center">
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>nombre</th>
                                    </tr>
                                    {%for j in lista%}
                                    <tr>
                                        <td>{{j[0]}}</td>
                                        <td><a href="/datos/{{j.1}}">{{j[1]}}</td>
                                        <td>{{j[2]}}</td>
                                        <td>{{j[3]}}</td>


                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        <p></p>
                        <div class="row d-flex justify-content-center">
                        <h1>Datos del Usuario</h1>

                        <table border="1">
                            <tbody>
                                <tr>
                                    <td>
                                        <form action="/eliminarUsuario/{{username}}" method="POST" name="datos">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>Nombres<br>
                                                                <input type="text" nameº="nombre" id="nombre"
                                                                    placeholder={{nombre}} disabled="disabled">
                                                        </td>
                                                        <td>
                                                            <p>Apellidos<br>
                                                                <input type="text" name="apellidos" id="apellidos"
                                                                    placeholder={{apellidos}} disabled="disabled">
                                                        </td>
                                                        <td>
                                                            <p>Correo electronico<br>
                                                                <input type="text" name="email" id="email"
                                                                    placeholder={{email}} disabled="disabled">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>id<br>
                                                                <input type="text" name="id" id="id" placeholder={{id}}
                                                                    disabled="disabled">
                                                        </td>
                                                        <td>
                                                            <p>username<br>
                                                                <input type="text" name="username" id="username"
                                                                    placeholder={{username}} disabled="disabled">
                                                        </td>
                                                        <td>
                                                            <p>Direccion<br>
                                                                <input type="text" name="direccion" id="direccion"
                                                                    placeholder={{direccion}} disabled="disabled">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p>contraseña<br>
                                                                <input type="text" name="contrasena" id="contrasena"
                                                                    placeholder={{contrasena}} disabled="disabled">
                                                        </td>
                                                        <td>
                                                            <p>Celular<br>
                                                                <input type="text" name="celular" id="celular"
                                                                    placeholder={{celular}} disabled="disabled">
                                                        </td>
                                                        <td>
                                                            <p>rol<br>
                                                                <input type="text" name="rol" id="rol"
                                                                    placeholder={{rol}} disabled="disabled">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="row d-flex justify-content-center">
                                                            <input class="btn btn-danger" type="submit" id="eliminar" value="eliminar"
                                                                disabled="disabled">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="row d-flex justify-content-center">
                                                                </form action="/actualizarUsuario" method="post">
                                                                <input class="btn btn-success" type="submit" id="actualizar" value="actualizar"
                                                                    disabled="disabled">
                                                                </form>
                                                            </div>
                                                        <td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input class="btn btn-info" type="submit" value="Gestionar Usuarios" id="update"
                                                        onclick="desbloqueo()">
                                                </td>
                                                <td>
                                                    
                                                    <a href="{{url_for('crearUsuario')}}">
                                                        
                                                        <input class="btn btn-primary" type="submit" value="Nuevo" id="nuevo"
                                                            onclick="desbloqueo1()">
                                                        
                                                        </a>
                                                        
                                                </td>
                                                <td>
                                                    
                                                    <a href="/actualizarUsuario/{{username}}">
                                                        
                                                        <input class="btn btn-primary" type="submit" value="actualizar" id="actualizar"
                                                            >
                                                        
                                                        </a>
                                                        
                                                </td>
                                            </tr>

                                        </table>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
</body>
</section>
{% endblock %}