body{
  background-image: url("../images/fondo.jpg");
  background-position: 320% 420%;
}

.user{
  height: 30px;
  display: block;
  float: right;
  margin: 20px 10px;



}

#container_two{
  padding: 10px;
  background-color:#000;
  color: #fff;
  
}
#container_two h3{
  padding: 23px;
}
#container_two p {
  padding: 30px;
}
#container_two ul,li{
  padding: 25px;
}



.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 46px 0 60px 536px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 290px;
    margin-left: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 222px;
    margin-left: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 167px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 105px;
  }
}