h1 {
    color: #000;
    text-align: center;
}
h2 {
    color: #000;
    text-align: center;
}

form {
    width: 350px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}
